body::-webkit-scrollbar {
    display: none;  /* Chrome, Safari and Opera */
  }

.smallheading{
    font-family:sans-serif;
    font-size:20px;
    font-weight:400;
    color:#000000;
    margin:10px 0px 0px 0px;
}
.para{
    font-family:sans-serif;
    font-size:20px;
    font-weight:400;
    color:#202020;
    margin-top:0px;
}
.mainHeading{
    font-family:sans-serif;
    font-size:50px;
    font-weight:bold;
    color:#000000;
    margin-bottom:0px;
}
.icons{
    height:25px;
    width:25px;
}
.eyeicons{
    height:25px;
    width:25px;
    color:green;
}