.heading{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:30px;
    font-weight:bold;
    color:#000000;
    text-align: center;
}
.error{
    font-family:sans-serif;
    color:red;
}
.createaccountlink{
    text-align:center;
    text-decoration: none;
    color:#1c64eb;
    font-size:10px;
    margin:0px;
}
.link{
    text-decoration: none;
}